<!DOCTYPE html>
<html>
<head>
  <title>AnalyticsDw</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "button", :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "d3" %>
  <%= csrf_meta_tag %>
</head>
<body>

<table>
 <tr>
   <td><%= yield %></td>
 </tr>
 <!--<tr>
   <font size="2">Filter by gender:</font>
   <td>
     <button class="first last" onclick="transition()">
      Male
     </button>
   </td>
   <td>
     <button class="first last" onclick="transition()">
      Female
     </button>
   </td>
 </tr>-->
 <tr>
   <td>
     <%= select_tag(:gender,
            options_for_select(
                               [['All', 'All'],
                                ['Male', 'Male'],
                                ['Female', 'Female']],
                                'All')) %>
   </td>
 </tr>
</table>
</body>
</html>
