<!DOCTYPE html>
<html>
<head>
  <title>AnalyticsDw</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "button", :media => 'screen' %>
  <%= javascript_include_tag "d3" %>
  <%= csrf_meta_tag %>
</head>
<body>

<table>
 <div id="histgrm">
 <tr>
   <td id="graph"><%= yield %></td>
 </tr>
 </div>
 <tr>
   <td>
     <font size = "2">Filter by gender:</font>
     <%= form_tag({controller: "days_since_last_visits", action: "index"},
                  method: :get) do %>
       <%= select_tag :gender,
         options_for_select(
           [['All', 'All'],
            ['Male', 'Male'],
            ['Female', 'Female']],
            'All') %>
      <%= submit_tag "Send", :class => "form_submit" %>
    <% end %>
   </td>
 </tr>
</table>
</body>
</html>
